
@{
    ViewBag.Title = "DownForMaintenance";
}
<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .bgImg {
        background-image: url('../../Assets/img/DSC_0278 2.jpg');
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }
</style>
<div class="bgImg">
    <div class="topLeft">
        <!-- <p>Jacob Emory Bullin</p> -->
    </div>
    <div class="middle">
        <h1>SORRY</h1>
        <h2>The Blog Is Currently Down For Maintenance <br /> It Should Be Back Up Soon!</h2>
        <!--<p id="countDown" style="color:white;"></p>-->
    </div>
    <!--
    <div class="bottomleft">
        <p>Some text</p>
    </div> -->
</div>
@section scripts
{
    <script>
        var countDownDate = new Date("Apr 27, 2018 23:59:59").getTime();

        // Update the count down every 1 second
        var x = setInterval(function () {

            // Get todays date and time
            var now = new Date().getTime();

            // Find the distance between now an the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            document.getElementById("countDown").innerHTML = days + "d " + hours + "h "
                + minutes + "m " + seconds + "s ";

            // If the count down is finished, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("countDown").innerHTML = "EXPIRED";
            }
        }, 1000);
    </script>
}
