<!-- Page Content ================================================== -->
<!-- Hero -->
@model PortfolioSite.Models.ContactForm

<section class="hero bkImg">
    <div class="container2 text-center">
        <div class="row">
            <div class="col-md-12">
                <!--<a class="hero-brand" href="index.html" title="Home"><img alt="Bell Logo" src="~/Assets/~/Assets/img/logo.png"></a>-->
            </div>
        </div>

        <div class="col-md-12">
            <h1>
                Jacob Emory Bullin
            </h1>

            <!--<p class="tagline">
                test information
            </p>-->
            <a class="btn btn-full" href="#about">Continue</a>
        </div>
    </div>

</section>
<!-- /Hero -->
<!-- Header -->
<header id="header">
    <div class="container">

        <!--<div id="logo" class="pull-left">
            <a href="index.html"><img src="~/Assets/img/logo-nav.png" alt="" title="" /></img></a>
            <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Bell</a></h1>-->
    </div>


    <!-- Navigation Bar -->

    <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="#about">About</a></li>
            <li><a href="#features">Current Project</a></li>
            <li><a href="http://jacobbullinbugtracker.azurewebsites.net">Bug Tracker</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact Me</a></li>
            @*<li><a href="#team">Other Works</a></li>*@
            <!---<li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
            -->
            @*<li><a href="#contact">Contact Us</a></li>*@
        </ul>
    </nav>
    <!-- #nav-menu-container -->
    <nav class="nav social-nav pull-right d-none d-lg-inline" style="padding-right:30px;">
            <a href="https://github.com/Falconier"><i class="fa fa-github"></i></a> <a href="https://www.linkedin.com/in/jacob-emory-bullin-281032161/"><i class="fa fa-linkedin"></i></a> 
        </nav>

</header>
<!-- #header -->
<!-- About -->
<section class="about" id="about">
    <div class="container text-center">
        <h2 class="greenText">
            About Jacob
        </h2>

        <p>
            Since high school I have been exploring and accessing my interests. I’ve taken a few classes, worked, and spent a lot of time thinking about what I want to do with my life. I’ve developed a real love for photography. In fact, you can see some of my work in the images here on my web site. I’ve also come back to computer programming and software development an interest that started with an AP Computer Science Class my junior year of high school. I have recognized my talent in this field and am now in the process of honing skills and learning new languages. My goal is to find a position with a small to mid-sized innovative company whose environment encourages growth and creativity.
        </p>

        <!--<div class="row stats-row">
            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">232</span> Satisfied Customers
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">79</span> Released Projects
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">1,463</span> Hours Of Support
                </div>
            </div>

            <div class="stats-col text-center col-md-3 col-sm-6">
                <div class="circle">
                    <span class="stats-no" data-toggle="counter-up">15</span> Hard Workers
                </div>
            </div>-->
    </div>

</section>
<!-- /About -->
<!-- Features -->
<section class="features" id="features">
    <div class="container">
        <h2 class="text-center greenText">
            Current Project
        </h2>

        <p>The current project is a Bug Tracker that uses JavaScript, HTML, Bootstrap 4, and C#</p>

    </div>
</section>
<!-- /Features -->
<!-- Portfolio -->
<section class="portfolio" id="portfolio">
    <div class="container text-center">
        <h2 class="text-center greenText">
            Portfolio
        </h2>

        <p>
            The panels below are links to examples of my work
        </p>
    </div>

    <!--Modal-->
    <!-- Portfolio Image Link Grid -->
    <div class="portfolio-grid">
        <div class="row">
            <!-- Modal One -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block" data-toggle="modal" data-target="#myModal">
                    <!-- This Image -->
                    <img alt="" src="~/Assets/img/DSC_0341.JPG">
                    <div class="portfolio-over">
                        <div>

                            <h3 class="card-title">
                                Pick Five
                            </h3>

                            <p class="card-text">
                                JavaScript Exercise
                            </p>


                        </div>

                    </div>

                </div>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Pick Five JavaScript Exercise</h4>
                            </div>
                            <div class="modal-body">

                                <div id="pickFive" class="tab-pane active row">
                                    <div class="col-lg-6 form-group">
                                        <input type="number" id="v1" placeholder="blah" class="form-control" />
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="number" id="v2" placeholder="blah" class="form-control" />
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="number" id="v3" placeholder="blah" class="form-control" />
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        D
                                        <input type="number" id="v4" placeholder="blah" class="form-control" />
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input type="number" id="v5" placeholder="blah" class="form-control" />
                                    </div>

                                    <p id="list2"></p>
                                </div>
                                <div>
                                    <button onclick="pickFive()">Evaluate</button>
                                </div>
                                <div id="pickFiveCode">
                                    <pre class="brush: js">
                                function pickFive() {
                                var one = Number(document.getElementById("v1").value);
                                var two = Number(document.getElementById("v2").value);
                                var three = Number(document.getElementById("v3").value);
                                var four = Number(document.getElementById("v4").value);
                                var five = Number(document.getElementById("v5").value);

                                var min = Math.min(one, two, three, four, five);
                                var max = Math.max(one, two, three, four, five);
                                var sum = one + two + three + four + five;
                                var avg = sum / 5;
                                var product = one * two * three * four * five;

                                document.getElementById("list2").innerHTML = "Min: " + min + " Max: " + max + " Average: " + avg + " Sum: " + sum + " Product: " + product;
                                }
                                    </pre>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Modal Two -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block" data-toggle="modal" data-target="#myModal2">

                    <img alt="" src="~/Assets/img/DSC_0455.JPG">
                    <div class="portfolio-over">
                        <div>
                            <h3 class="card-title">
                                Fizz Buzz
                            </h3>

                            <p class="card-text">
                                JavaScript Exercise
                            </p>
                        </div>
                    </div>

                </div>
                <div id="myModal2" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Fizz Buzz JavaScript Exercise</h4>
                            </div>
                            <div class="modal-body">

                                <!-- fizz buzz -->
                                <div id="fizzBuzz" class="tab-pane active row">
                                    <input type="number" id="fBOne" />
                                    <input type="number" id="fBTwo" />

                                    <p id="fBResult"></p>

                                    <button onclick="fizzBuzz()">Evaluate FizzBuzz</button>


                                </div>
                                <div id="fizzBuzzCode">
                                    <pre class="brush: js">
                                        function fizzBuzz() {
                                        var a = Number(fBOne.value);
                                        var b = Number(fBTwo.value);
                                        var result = "";

                                        // review if statements and simplification
                                        if ((a < 100 && a > 0) && (b < 100 && b > 0)){
                                            for (var i = 1; i <= 100; i++) {
                                                (function (i) {
                                                    setTimeout(function () {
                                                        if (i % a == 0 && i % b == 0)
                                                            result += "fizzbuzz";
                                                        else if (i % a == 0)
                                                            result += "fizz";
                                                        else if (i % b == 0)
                                                            result += "buzz";
                                                        else
                                                            result += i + " ";

                                                        document.getElementById("fBResult").innerHTML = result;
                                                    }, 500);
                                                })(i);
                                            }
                                       }
                                    }
                                    </pre>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Modal Three -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block" data-toggle="modal" data-target="#myModal3">

                    <img alt="" src="~/Assets/img/DSC_0501.JPG">
                    <div class="portfolio-over">
                        <div>
                            <h3 class="card-title">
                                Factorial
                            </h3>

                            <p class="card-text">
                                JavaScript Exercise
                            </p>
                        </div>
                    </div>

                </div>
                <div id="myModal3" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Factorial JavaScript Exercise</h4>
                            </div>
                            <div class="modal-body">
                                <ul class="nav nav-pills">
                                    <li class="active col-md-2"><a href="#pickFive" data-toggle="pill" data-target="#fizzBuzz">Evaluation</a></li>
                                </ul>
                                <div class="tab-content">
                                    <!-- fizz buzz -->
                                    <div id="factorial" class="tab-pane active row">
                                        <input type="number" id="fac" />

                                        <p id="facResult"></p>

                                        <button onclick="factorial()">Evaluate Factorial</button>


                                    </div>
                                    <div id="fizzBuzzCode">
                                        <pre class="brush: js">
                                            function factorial() {
                                                var a = Number(document.getElementById("fac").value);
                                                var b = a;
                                                var result = 1;
                                                for (a; a != 0; a--)   
                                                {
                                                    result *= a;
                                                }
                                                document.getElementById("facResult").innerHTML = result;
                                            }
                                        </pre>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!-- Modal Four -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block" data-toggle="modal" data-target="#myModal4">

                    <img alt="" src="~/Assets/img/DSC_0314.JPG">
                    <div class="portfolio-over">
                        <div>
                            <h3 class="card-title">
                                Palindrome
                            </h3>

                            <p class="card-text">
                                JavaScript Exercise
                            </p>
                        </div>
                    </div>

                </div>
                <div id="myModal4" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-lg">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Palindrome JavaScript Exercise</h4>
                            </div>
                            <div class="modal-body">


                                <!-- palindrome -->
                                <div id="palindrome" class="tab-pane active row">
                                    <input type="text" id="word" placeholder="Enter A Word" />
                                    <button onclick="palindrome()">Display</button>
                                    <br />
                                    <p id="palindromeResult"></p>
                                </div>
                                <div id="palindromeCode">
                                    <pre class="brush: js">
                                        function palindrome() 
                                        {
                                        var word = String(document.getElementById("word").value);
                                        var drow = word.split("").reverse().join("");
                                        var result = "";
                                        if (word == drow) 
                                        {
                                            result = "This is a palindrome! " + drow;
                                        }
                                        else 
                                        {
                                            result = "This is NOT a palindrome.";
                                        }
                                        document.getElementById("palindromeResult").innerHTML = result;
                                        }
                                    </pre>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <div class="row">

            <!-- Bug Tracker -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="http://jacobbullinbugtracker.azurewebsites.net">
                        <img alt="" src="~/Assets/img/DSC_0304.JPG">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    Bug Tracker
                                </h3>

                                <p class="card-text">
                                    Current Project
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Financial Planner -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="http://jebbugtrackerservice.azurewebsites.net/swagger/ui/index">
                        <img alt="" src="~/Assets/img/DSC_0209.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    BugTracker API
                                </h3>

                                <p class="card-text">
                                    Current Project
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Blog -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="@Url.Action("DownForMaintenance","Home")">
                        <img alt="" src="~/Assets/img/DSC_0278 2.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    Blog
                                </h3>

                                <p class="card-text">
                                    Down For Maintenance
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Mobile App -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="https://github.com/Falconier/BugTrackerApp">
                        <img alt="" src="~/Assets/img/DSC_0499.JPG" />
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    Mobile Application
                                </h3>

                                <p class="card-text">
                                    BugTracker Xamarin App
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Portfolio -->
<!-- Contact Me -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center greenText" style="color: #006633;">
                    Contact Me
                </h2>
            </div>
        </div>


        <div class="row justify-content-center">

            <div class=" col-lg-3 col-md-4">
                <div class=" info">
                    <div>
                        <i class="fa fa-map-marker" style="color: #006633;"></i>
                        <p>Winston Salem, NC</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope" style="color: #006633;"></i>
                        <p>jbullin.engstudio@icloud.com</p>
                    </div>
                    <div>
                        <i class="fa fa-phone" style="color: #006633;"></i>
                        <p>+1-336-414-2454</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-8">
                @using (Html.BeginForm("ContactMe", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        <input type="text" name="FromName" class="form-control" id="name" placeholder="Full Name" data-rule="minlen:3" data-msg="Please enter at least 3 chars" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="FromEmail" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:8" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validation"></div>
                    </div>

                    <div class="form-group">
                        <textarea class="form-control" name="body" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                        <div class="validation"></div>
                    </div>

                    <input type="submit" value="Send" style=" color: white; background-color: #006633;" />
                }
            </div>
        </div>
    </div>


</section>


<script src="~/Assets/lib/jquery/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#clickme").click();
        if ($(".tab-content").is("visible")) {
            $("#pickfive").css("background-color:", "black");
        }
    });
</script>


