/*.modal-content{
    color:green;
}

.modal-body{
    /*color:red;
    background-color:white;

}

.pickFive{

}*/

.blackground {
    background-color: black;
}

.btn 
{
    background-color: #006633;
    /*background-color: #003333, 006633, 009933*/
}

.btn :hover
{
    background-color: #003333;
    color: #fff;
}

.lineDivide{
    color: white;
}

.greenText {
    color: #006633;
}